.feed-item {
  overflow: auto;
  padding-left: 120px;
  text-align: left;
}
.feed-item__thumbnail {
  float: left;
  width: 100px;
  margin: 0;
  margin-left: -120px;
}

.feed-item--fluid {
  padding-left: 25%;

  .feed-item__thumbnail {
    width: 20%;
    margin-left: -25%;
  }
}

.feed-item-pos {
  position: relative;
  padding-left: 25%;
  text-align: left;
}
.feed-item-pos__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  margin: 0;
}
