{{#markdown}}
# Box Model

Every element in HTML is a rectangle. That rectangle is seperated into four
sections: margin, padding, border and the content area(height/width).

The calculated width is the area between the borders of the box, including padding and border.

![Box Model]({{asset-path 'box-model.png'}})

```scss
.box-model__example {
  width: 400px;
  height: 100px;
  padding: 20px;
  border: 6px solid #999;
  margin: 20px;
}
```

<figure class="example__wrapper">
  <div class="box-model__example"></div>
</figure>


##### Notes:

- outline does not effect the box-model
- default box-sizing: content-box

{{/markdown}}
