{{#markdown}}

# Box Sizing

Three ways to change the box model.

![Box Sizing]({{asset-path 'box-sizing.png'}})

## Border Box

`box-sizing: border-box`

The calculated width is the declared width. Any border and padding push inside the box
and don't jack up the width. You can safety declare padding and border.

### Without border-box

<figure class="example__wrapper">
  <div class="border-box__example border-box--without">
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</figure>

```scss
.border-box__example {
  width: 400px;
  padding: 40px;
  border: 6px solid #999;
  margin: 20px auto;
  background-color: #F0F0F0;
}
```

### With border-box

<figure class="example__wrapper">
  <div class="border-box__example">
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.</p>

  </div>
</figure>

```scss
.border-box__example {
  box-sizing: border-box;
  width: 400px;
  padding: 40px;
  border: 6px solid #999;
  margin: 20px auto;
  background-color: #F0F0F0;
}
```


## Border Box All the things

```scss
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
```

{{/markdown}}
