{{#markdown}}

# Gutter Pull

Position an element in the gutter defined by it's parent container.

{{/markdown}}

<figure class="example__wrapper">
  <div class="feed-item">
    <figure class="feed-item__thumbnail">
      <img src="http://www.placecage.com/200/300" />
    </figure>

    <h4>Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
</figure>

{{#markdown}}

```scss
.feed-item {
  padding-left: 120px;
}
.feed-item__thumbnail {
  float: left;
  width: 100px;
  margin-left: -120px;
}
```

## Position Pull

Use Absolute Positioning to Place Element in Gutter

{{/markdown}}

<figure class="example__wrapper">
  <div class="feed-item-pos">
    <figure class="feed-item-pos__thumbnail">
      <img src="http://www.placecage.com/200/200" />
    </figure>

    <h4>Nullam id dolor id nibh ultricies vehicula ut id elit.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  </div>
</figure>

{{#markdown}}

```scss
.feed-item-pos {
  position: relative;
  padding-left: 25%;
}
.feed-item-pos__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}
```

##### Notes:

- thumbnail height could overflow parent - be careful

{{/markdown}}
