{{#markdown}}

# CSS Layout Patterns

Building Blocks

  - [Box Model](/box-model)
  - [Box Sizing](/box-sizing)
  - [Document Flow](/document-flow)
  - [Constrained Width w/Centering](/constrained-width)

Floating

  - [Floats](/floats)
  - [Clearfix](/clearfix)
  - [Columns](/columns)

Positioning

  - [Positioning](/positioning)
  - [Z-Index](/z-index)

Building for All Screen Sizes

  - [Media Queries](/media-queries)
  - [Mobile First](/mobile-first)
  - [include-media](/include-media)
  - [Column Drop](/column-drop)

Tricks of the Trade

  - [Vertical Centering](/vertical-centering)
  - [Gutter Pull](/gutter-pull)
  - [Intrinsic Ratio](/intrinsic-ratio)

Think In Components

  - [OOCSS Intro]()
  - [Media Element]()
  - [Flag Element]()

Grids

  - [When to Use a Grid System]()
  - [margin-overflow](/margin-overflow)
  - [Semantic Layouts]()

Happy Thoughts

  - [vh/vw]()
  - [Flexbox]()

Putting All the Pieces Together

  - [Live Code]()

{{/markdown}}
