{{#markdown}}

# CSS Layout Patterns

Building Blocks

  - [Box Model](/box-model)
  - [Box Sizing](/box-sizing)
  - [Constrained Width w/Centering](/constrained-width)

Building for All Screen Sizes

  - [Media Queries](/media-queries)
  - [Mobile First](/mobile-first)
  - [include-media](/include-media)

Positioning

  - [positioning]()
  - [z-index]()

Floating

  - [content flow]()
  - [floating]()
  - [clear]()
  - [clearfix]()
  - [Gutter Pull](/gutter-pull)
  - [margin-overflow]()

Think Components

  - [OOCSS Intro]()
  - [Media Element]()
  - [Flag Element]()

Tricks

  - [Vertical Centering]()
  - [Intrinsic Ratios]()

- Grids

  - [When to Use a Grid System]()
  - [Semantic Layouts]()

{{/markdown}}
