@import 'framework';

.page-container {
  padding: 20px;
  max-width: 768px;
  margin: 0 auto;
}

.example__wrapper {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba($black, .02);
  border: 1px solid rgba($black, .04);
  border-radius: 5px;
}

@import 'examples/building-blocks';
@import 'examples/floating';
@import 'examples/responsive';
