html {
  @include text-size-adjust(100%);
  font-family: $base-font-family;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  background-color: $background-color;
  color: $text-color;
  overflow-y: scroll;
  min-height: 100%;
}
