/*doc
---
title: Typography
name: Typography
category: basics
---

***

```html_example
<h1>H1. Source Sans Pro Light – 60pt</h1>
<h2>H2. Source Sans Pro Light – 48pt</h2>
<h3>H3. Source Sans Pro Light – 36pt</h3>
<h4>H4. Source Sans Pro Light– 24pt</h4>
<h5>H5. Source Sans Pro Light – 18pt</h5>
<h6>H6. Source Sans Pro Light 14pt</h6>
```
*/
